.header {
     margin-top: 10px;
    overflow: hidden;
    height: 50px;
    width: 99%;
    background-color:  rgba(134, 136, 148, 0.904);
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.header .list-menu {
    display: inline;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    padding: 15px;
    color: white;    
}

.header a:hover {
    background-color: #4CAF50;
    color: white; 
}

.header .active {
    background-color: #4CAF50;
    color: white;
}

.container1 {
    background-color: rgba(223, 225, 238, 0.904);
    margin-top: 15px;
    overflow: auto;
    width: 98%;
    padding: 5px;
}
.container1 .container-table{
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
}

.container1 .container-table .odd{
    width:25%; text-align: center;
    background-color: white;
 }
 .container1 .container-table .even{
    width:25%; text-align: center;
    background-color: rgba(178, 178, 243, 0.911);;
 }

.container2 {
    background-color: rgba(223, 225, 238, 0.904);
    margin-top: 5px;
    overflow: auto;
    width: 98%;
    padding: 5px;
}
.container2 .container-table{
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
}

.container2 .container-table .odd{
    width:25%; text-align: center;
    background-color: white;
 }
 .container2 .container-table .even{
    width:25%; text-align: center;
    background-color: rgba(178, 178, 243, 0.911);
 }
 
 .container3 {
    background-color: rgba(223, 225, 238, 0.904);
    margin-top: 5px;
    overflow: auto;
    width: 98%;
    padding: 5px;
}
.container3 .container-table{
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
}

.container3 .container-table .odd {
    width:25%; text-align: center;
    background-color: white;
 }
 .container3 .container-table .even {
    width:25%; text-align: center;
    background-color: rgba(178, 178, 243, 0.911);
 }

 .buttons-container button:first-child{
    margin-left: 30%;  
}

.buttons-container button {
    padding: 10px 10px 10px 10px;
    margin: 25px 15px 0px 15px;
    background-color: rgba(179, 179, 201, 0.911);
}

.child-container {
    background-color: rgba(190, 228, 205, 0.904);
    margin-top: 15px;
    overflow: auto;
    width: 98%;
    padding: 5px;
}
.child-container button {
    margin-left: 40%;
    padding: 10px 10px 10px 10px;
    margin: 25px 15px 0px 15px;
    background-color: rgba(179, 179, 201, 0.911);
}